.mobile-menu {
    display: none;
}

@media (max-width: 1024px) {
    .mobile-menu {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .sidebar.active {
        display: block;
    }
}