@import "tailwindcss";

.font-inter {
    font-family: 'Inter', sans-serif;
}

.bg_browndirt {
    background-color: #DDA15E;
}

.text_browndirt {
    color: #DDA15E;
}

.bg_darkbrowndirt {
    background-color: #BC6C25;
}

.border_darkbrowndirt {
    border: solid 1px #BC6C25;
}

.text_darkbrowndirt {
    color: #BC6C25;
}


.nav-link {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #ffcc00;
    /* Hover color */
}

.nav-link.active {
    color: #BC6C25 !important;
    font-weight: bold;
    text-decoration: underline;
}